
.page {
    margin: 2px 197px;
    background: white;
    padding-bottom:3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #cccccc;
}



.flash {
    background: #cee5F5;
    padding: 8px;
    border: 1px solid #aacbe2;
    margin: 8px;
}

.entries {
    border: solid 0px #cccccc;
    margin: 8px;

}

/*############################################################## Form Elements ################################################################# */
/*label {
    display: block;

    float: left;
}

.dropdown {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: none;
   background-color:#ddff9f;
     width: 180px;

}

.dropdown select:focus {
    outline: none;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px gainsboro;
    background-color:#ddff9f;
    width: 157px;
}


input[type="text"]:focus {
    border: solid 1px #707070;
    -webkit-box-shadow: 0 0 5px 1px #969696;
    -moz-box-shadow: 0 0 5px 1px #969696;
    box-shadow: 0 0 5px 1px #969696;
}
#readonly_box_one,#readonly_box_two{
    background-color:#ccc;
}*/
/*##########################Buttons######################Buttons*/

.button {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  padding-right: 30px;
  padding-left: 30px;


  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;

  letter-spacing: 1px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}


/*###################################################################################################################
                                    Form Style
###################################################################################################################*/


/* lists */
ul.add_user_form {
    list-style: none;
    padding: 4px;
    border: solid 0px #cccccc;
    margin: 10px;

}

ul.add_user_form li {
    display: block;
    padding: 6px 10px;
    width: 61%;
    float: none;
}


/* ============================================================
 Navigation Header
============================================================ */

.nav ul {
    list-style: none;
    background-color: #3B5998;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav li {
    line-height: 30px;
    height: 30px;
    font-weight: 200;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;

}

@media screen and (min-width: 600px) {
    .nav li {
        width: 150px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }

    /* Option 1 - Disp6lay Inline */
    .nav li {
        display: inline-block;
        margin-right: 0px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}


.notes{
    float: right;
    border: 0px solid #CCCCCC;
    position: relative;
    right: 10px;
    top:10px;
    padding: 10px;
    background-color: #BDE5F8;
    width: 355px;
    font-size: 16px;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

}
.notify{
    margin: 10px;
    border: 1px solid #cccccc;
    padding: 10px;

    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     border-radius: 4px;
    color: #D8000C;
    background-color: #FFBABA;
}
.error{
    margin: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     border-radius: 4px;
    color: #D8000C;
    background-color: #FFBABA;

}

.infor {
    border: 1px solid #CCCCCC;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
}

/*############################################################################*/
/*############Table CSS STYLES######################*/
/*###########################################################################*/


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	color:#333;
	font-size:12px;
	background:#eaebec;
	margin:10px;
	border:#ccc 0px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0px 0px 0px 1px #d1d1d1;
	-webkit-box-shadow: 0px 0px 0px 1px #d1d1d1;
	box-shadow: 0px 0px 0px 1px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:0px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
    color: #ffffff;

	background: #8b9dc3;
	background: -webkit-gradient(linear, left top, left bottom, from(#8b9dc3), to(#8b9dc3));
	background: -moz-linear-gradient(top,  #8b9dc3,  #8b9dc3);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


/*############################################################################*/
/*############pignation of Queris######################*/
/*###########################################################################*/


.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}