<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add Subscriber</title>
	<link rel="stylesheet" href="css/screen.css">
	<script src="{{url_for('static', filename='js/jquery-1.11.1.js')}}"></script>
	 <script src="{{url_for('static', filename='js/jquery.validate.js')}}"></script>
	<script>

	$().ready(function() {
		// validate the comment form when it is submitted
     $.validator.addMethod("regex", function(value, element, regexpr) {
       return regexpr.test(value);
       }, "Provide a valid IP address Please.");

		// validate signup form on keyup and submit
		$(".add-entry").validate({


			rules: {
			    plan_id: "required",
				ipaddress: {
					required: true,
					regex: /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/,
					minlength: 7,
					maxlength:15

				}

			},
			messages: {
			    ipaddress: {
					required: "Please enter an ipaddress",
					minlength: "Your ipaddress must consist of at least 7 characters"
				},
				plan_id: {
					required: "Please provide a plan"
					}
			}
		});


	});
	</script>
</head>
<body>

{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<ul class="add_user_form">

<form action="{{ url_for('add_users') }}" method='post' class='add-entry'>

<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

             <tr>
              <td ><label>IP Address</label></td>
              <td><input type="text" name="ipaddress" /></td>
             </tr>


            <tr>
               <td>
                      <label>Bandwidth</label>
                </td>
            <td>
               <select name="plan_id" class="dropdown">
               {% for key in dropdown %}
                <option value="{{key.plan_id}}" SELECTED>{{ key.plan_name }}</option>
               {% endfor %}
                </select>
            </td>
           </tr>

        <div class="hidden_content">
         <tr>
        {# <td>
             <label>Username</label>
         </td>#}
         <td colspan="2"> <input type="hidden" value=" {{ dropdown[0].dom_id }}" name="dom_id" required="true" readonly/></td>
         </tr>

        <tr>
          {#<td>
           <label>Attributes</label>
           </td>#}
          <td colspan="2">
            <input type="hidden" value=":=set_attribute" name="attribute"  readonly="readonly" />
          </td>
        </tr>
      </div>

      <tr>
        <td>
           <label>Submit</label>
        </td>
        <td> <input  type=submit value="Add Subcriber" class="button" ></td>
      </tr>



</table>
  </form>
</ul>
{% endif %}
{% endblock %}
</body>
</html>